/* Reset all border radius */
* {
    border-radius: 0 !important;
}

/* Primary color */
.text-primary {
    color: #3fb785 !important;
}
.bg-success {
    background-color: #3fb785 !important;
}
.btn-success {
    background-color: #3fb785 !important;
    border-color: #3fb785 !important;
}
.btn-success:hover {
    background-color: #34a16f !important;
}

/* General card styling */
.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Table styling */
.table th, .table td {
    vertical-align: middle;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table-bordered th, .table-bordered td {
    border-color: #3fb785;
}

/* Button styling */
.btn-outline-success {
    color: #3fb785 !important;
    border-color: #3fb785 !important;
}
.btn-outline-success:hover {
    background-color: #3fb785 !important;
    color: white !important;
}
