
    .home-container{
        display: grid;
        width: 90%;
        grid-template-columns: 2fr 1fr;
        margin: auto;
    }
    .disp-image .home-image{
        margin-left: 3%;
        width: 70%;
        height: 650px;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
    }
    .disp-image .home-image:hover {
        width: 72%;
        height: 666px;
        transition: width 0.5s, height 0.5s ease-out; 
    }
    .disp-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; /* Adjust gap between elements */
        text-align: center; /* Align text in the center */

    }
    
