/* Styling the login form */
.login-form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label{
    font-size: large;
    font-weight: bold;
    margin-bottom: 25px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-form input[type="submit"]:hover {
    background-color: #45a049; 
    
}

.login-error{
    font-size: small;
    color:red;
    margin: 20px;
}


/* Styling the Sign up form */
.form-container {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling the labels */
.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Styling the input fields */
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Styling the submit button */
.form-container input[type="submit"].btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.form-container input[type="submit"].btn:hover {
    background-color: #45a049;
}
