html, body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #2676e6;
  padding: 10px;
  display: grid;
  grid-template-columns: 8fr 0.65fr 0.65fr;
}

.nav .login-b .button1,
.nav .signup-b .button2,
.nav .logout-b .button0 {
  margin-top: 20px;
  width: 90px;
  padding: 10px;
  /* border-radius: 20px; */
  cursor: pointer;
}



a {
  color: #f5eded;
  text-decoration: none;
}



