* {
    margin: 0;
    padding: 0;
  }
  .nav {
    background-color: #2676e6;
    padding: 20px;
    display: grid;
    grid-template-columns: 8fr 1fr;
  }
  .nav .login .button1 {
    width: 90px;
    padding: 10px;
    border-radius: 20px;
  }

  a {
    color: #f5eded;
    text-decoration: none;
  }